<br>
<h3 class="text-center"><strong>Manage Your Rentals</strong></h3>
<br>
<div class="container">
  <div class="bookings-index-container">
    <div class="bookings-index-left mr-5">
      <div class="header-2">
      <h4><strong> My Listings </strong></h4>
      </div>
      <div class="container-rental">
        <img src="https://res.cloudinary.com/dl6q8gfk9/image/upload/v1605808279/Exotic%20Cars/Alfa-Romeo-Tipo_yivwva.jpg"/>
        <div class="card-rental-infos pt-4">
          <h5><strong>Porsche&nbsp;&nbsp;911</strong></h5>
          <div>
            <span><strong>Doors: 2</strong></span>
            <span style="margin-left: 10px;"><strong>Seats: 4</strong></span>
          </div>
          <div>
            <span><strong>Year: 2021</strong></span>
            <br>
            <span><strong>Rate: $400</strong></span>
          </div>
        </div>
      </div>
    </div>

    <div class="bookings-index-right">
      <div class="header-2">
        <h4> Pending Approval </h4>
      </div>
      <%if @incoming_rentals.length == 0%>
        <div class="container-nill">
          <img src="https://previews.123rf.com/images/keltmd/keltmd1709/keltmd170900573/86958540-comic-speech-bubble-with-expression-text-oops-comic-speech-bubble-black-simple-silhouette-vector-ill.jpg" >
          <div class="card-nill-infos pt-4">
          <p><strong>No rental requests</strong></p>
        </div>
        </div>
      <% else %>
        <% @incoming_rentals.each do |rental| %>
          <div class="container-rental">
            <img src="https://res.cloudinary.com/dl6q8gfk9/image/upload/v1605807889/Exotic%20Cars/lambo_db1xsb.png" />
            <div class="card-rental-infos pt-4">
              <p><strong>Your Vehicle:</strong> <%= rental.car.make  %> <%= rental.car.model  %> </p>
              <p><strong>Requested by User:</strong> <%= rental.user.username %> </p>
              <p><strong>Pick-up Date:</strong> <%= rental.date_rented.to_formatted_s(:long) %> </p>
              <p><strong>Return Date:</strong> <%= rental.date_return.to_formatted_s(:long) %> </p>
              <%= link_to "Approve", accept_rental_path(rental), class: "btn btn-success btn-sm" %>
              <%= link_to "Reject", decline_rental_path(rental), class: "btn btn-danger btn-sm" %>
            </div>
          </div>
        <% end %>
      <%end%>
        <div class="header-2">
          <h4> My Rentals </h4>
        </div>
        <%if @outgoing_rentals.length == 0%>
        <div class="container-nill">
          <img src="https://previews.123rf.com/images/keltmd/keltmd1709/keltmd170900573/86958540-comic-speech-bubble-with-expression-text-oops-comic-speech-bubble-black-simple-silhouette-vector-ill.jpg" >
          <div class="card-nill-infos pt-4">
          <span><strong>No rental requests</strong></span>
          <span><strong> ..make one? </strong></span>
          <%= link_to "Browse cars", cars_path, class: "btn btn-success" %>

          <%else%>
      <% @outgoing_rentals.each do |rental| %>
        <div class="container-rental">
          <img src="https://res.cloudinary.com/dl6q8gfk9/image/upload/v1605807889/Exotic%20Cars/rezvani-tank_i4bhhx.jpg" />
          <div class="card-rental-infos">
            <h2><strong>Vehicle:</strong> <%= rental.car.make  %> <%= rental.car.model  %></h2>
            <p><strong>Pick-up Date:</strong> <%= rental.date_rented.to_formatted_s(:long) %> </p>
            <p><strong>Return Date:</strong> <%= rental.date_return.to_formatted_s(:long) %> </p>
            <% if rental.owner_approval == nil %>
              <p><strong>Owner confirmation: </strong><span style="color: #ff6200">Pending</span></p>
            <% elsif rental.owner_approval == true %>
              <p><strong>Owner confirmation: </strong><span style="color: green">Confirmed</span></p>
            <% else rental.owner_approval == false %>
              <p><strong>Owner confirmation: </strong><span style="color: red">Rejected</span></p>
            <% end %>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
