<% @rentals.each do |rental| %>
  <div class="container-rental">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-rental-infos pt-4">
      <p><strong>Your Vehicle:</strong> <%= rental.car.make  %> <%= rental.car.model  %> </p>
      <p><strong>Requested by User:</strong> <%= rental.user.username %> </p>
      <p><strong>Pick-up Date:</strong> <%= rental.date_rented.to_formatted_s(:long) %> </p>
      <p><strong>Return Date:</strong> <%= rental.date_return.to_formatted_s(:long) %> </p>
      <%= link_to "Approve", accept_rental_path(rental), class: "btn btn-success btn-sm" %>
    </div>
    <div class="owner-buttons">

    </div>
  </div>

<% end %>




