
<br>
<h2><center>Top Cars in Montreal</center></h2>
<br>
  <div class="row">
    <% @cars.each do |car| %>
      <div class="card">
        <div class="card-img" style="background-image:url(<%= car.url %>);">
          <div class="overlay">
            <div class="overlay-content">
              <%= link_to "View", car_path(car), class: "hover" %>
            </div>
          </div>
        </div>

        <div class="card-content">
          <%= link_to car_path(car) do %>
            <p><strong><%= car.make %>&nbsp;&nbsp;<%= car.model %>&nbsp;&nbsp;<%= car.year %></strong></p>
            <p>Rate: $<%= car.price_per_day %></p>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
