
<br>
<h2><center>Top Cars in Montreal</center></h2>
<br>
<div class="container">
  <div class="row">
    <% @cars.each do |car| %>
        <div class="card col-3 mb-2">
          <img src=<%= car.url %> class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-title"><strong><%= car.make  %>&nbsp;&nbsp;<%= car.model %>&nbsp;&nbsp;<%= car.year %></strong></p>
            <p class="card-text">Rate: $<%= car.price_per_day %></p>
            <button type="button" class="btn btn-outline-secondary"><%= link_to 'View', car_path(car) %></button>
          </div>
        </div>
    <% end %>
  </div>
</div>
