
<br>
<div class="container">
  <div class="row">
    <div class="card col-3 border-secondary mb-3" style="max-width: 24rem;">
      <img src=<%= @car.url %> class="card-img-top" alt="..."/>
      <div class="card-body">
        <p class="card-text">Make:&nbsp;<%= @car.make %></p>
        <p class="card-text">Model:&nbsp;<%= @car.model %></p>
        <p class="card-text">Year:&nbsp;<%= @car.year %></p>
      </div>
    </div>
    <div class="card col-3 border-secondary mb-3" style="max-width: 24rem;">
      <img src=<%= @car.user.url %> class="card-img-top" alt="..."/>
      <div class="card-body">
        <p class="card-text">Name:&nbsp;<%= @car.user.username %></p>
      </div>
    </div>
    <div class="card col-3 border-secondary mb-3" style="max-width: 24rem;">
      <div class="card-header"><strong>Descripton</strong></div>
      <div class="card-body">
        <p class="card-text">Color:&nbsp;<%= @car.color %></p>
        <p class="card-text">Seats:&nbsp;<%= @car.number_of_seats %></p>
        <p class="card-text">Doors:&nbsp;<%= @car.number_of_doors %></p>
        <p class="card-text">Mileage:&nbsp;<%= @car.mileage %></p>
        <button type="button" class="btn btn-outline-secondary"><%= link_to 'Book Now', new_car_rental_path(@car) %></button>
      </div>
    </div>
  </div>
</div>
<br>


